# version: "3.7"

services:
  certbot:
    build:
      context: ./certbot

  gateway:
    build:
      context: ./gateway

  frontend:
    build:
      context: ./frontend

  backend:
    build:
      context: .
    volumes:
      - /Users/mac/work/madiro.icrc/openmrs-content-icrc/target/icrc-2.0.0-SNAPSHOT.zip:/tmp/icrc-content-package